.ContainerTitle{
    display: flex;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

.addTaskTitleContainer{
    display: block;
}
.one{
    flex: 1;
    padding: 10px;
}
.addTaskBtnContainer{
    flex: 1;
    background: #f6f6f6;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
}
.tableWrapper{
    margin: top 10px;
    padding: 20px;
    background: #f6f6f6;
}

.addNewTaskbtn{
width: 70px;
height: 30px;
text-align: center;
line-height: 28px;
color: rgb(93, 107, 107);
border-radius: 5px;
background: green;
margin-top: 18px;
cursor: pointer;
margin-bottom: 20px;

}

.addTaskTitleContainer{
    background: #f6f6f6;
    padding: 20px 20px 0px 20px;
    font-size: 20px;
    font-weight: bold;
    font-size: italic;
    border-bottom-left-radius:10px;
  

}
.editTaskTitleContainer{
    background: #f6f6f6;
    padding: 20px 20px 0px 20px;
    font-size: 20px;
    font-weight: bold;
    font-size: italic;
    border-bottom-left-radius:10px;
}

.oneTitle{
    flex:1;
    padding: 10px;
    background: #444444;
    color: white;
}

.name{
    padding: 0px 15px 15px 20px;
    background: #f6f6f6;
}