  {{ TaskDetail | json}}  


<div class="container py-3">
    <div class="row">
        <div class="col-md-6">
            <h2><strong>To Do Task</strong></h2>
        </div>
        <div class="col text-right ml-5">
                      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal" (click)="openModel()" ><i class="fas fa-plus"></i>Add Task</button>
            <!-- <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal"
                (click)="createTask()">Add Task</button> -->
        </div>

      
       <!--  <div class="col text-right ml-5">
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal" (click)="openModel()"><i class="fas fa-plus"></i> Add Employee</button>
        </div> -->
    </div>


   



    <div class="modal fade show" id="exampleModal">

        <!-- <div *ngif="newtaskClicked" id="exampleModal" > -->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>

                <form ngSubmit=(submit)>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Enter Tilte <title></title></label>
                            <input type="text" class="form-control" name="Title" [(ngModel)]="Title">
                        </div>
                        <div class="form-group">
                            <label>Enter Description</label>
                            <input type="text" class="form-control" name="Description" [(ngModel)]="Description">
                        </div>
                        <div class="form-group">
                            <label>Enter Date</label>
                            <input type="text" class="form-control" name="Date" [(ngModel)]="Date">
                        </div>
                        <div class="form-group">
                            <label>Enter Assigned To</label>
                            <input type="text" class="form-control" name="Assigned To" [(ngModel)]="assignesTo">
                        </div>
                        <div class="form-group">
                            <label>Enter Priority</label>
                            <input type="text" class="form-control" name="Priority" [(ngModel)]="Priority">
                        </div>

                        <div class="form-group">
                            <label>Enter Duration </label>
                            <input type="text" class="form-control" name="Duration" [(ngModel)]="Duration">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="createTask()">Add
                            Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    



    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">assignesTo</th>
                <th scope="col">Priority</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Task of TaskDetail">
                <th scope="row">{{Task.Title}}</th>
                <td>{{Task.Description}}</td>
                <td>{{Task.Date}}</td>
                <td>{{Task.assignesTo}}</td>
                <td>{{Task.Priority}}</td>
                <td>{{Task.Duration}}</td>
                <button type="button" class="btn btn-outline-primary mr-5" data-toggle="modal"
                    data-target="#updateModal" (click)="edit(Task)">Edit</button>
                    <button type="button" class="btn btn-outline-danger" (click) = "deleteTask(Task._id)">Delete</button>
            </tr>
        </tbody>
    </table>


    <div class="modal fade show" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div  class="modal-content">
                <div class="modal-header"  >
                    <h5 class="modal-title"  id="exampleModalLabel">Update Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div> 
          
         <!-- 
               // <form #updateForm="ngForm" *ngFor ="let task of TaskDetail"  > -->
                    <div class="modal-body" *ngFor ="let task of TaskDetail" >
                        <form #updateForm="ngForm"  >
                        <div class="form-group">
                       <label >Enter Tilte </label> 
                            <input type="text" class="form-control" id="Title"  #Title [(ngModel)]="taskUpdate.Title" name="Tilte">
                        </div>
                        <div class="form-group">
                            <label>Enter Description</label>
                            <input type="text" class="form-control" id="Description" #Description [(ngModel)]="taskUpdate.Description" name="Description">
                        </div>
                        <div class="form-group">
                            <label>Enter Date</label>
                            <input type="text" class="form-control" id="Date" #Date [(ngModel)]="taskUpdate.Date" name="Data">
                        </div>
                        <div class="form-group">
                            <label>Enter Assigned To</label>
                            <input type="text" class="form-control" id="assignesTo" #assignesTo [(ngModel)]="taskUpdate.assignesTo" name="assignesTo">
                        </div>
                        <div class="form-group">
                            <label>Enter Priority</label>
                            <input type="text" class="form-control" id="Priority" #Priority [(ngModel)]="taskUpdate.Priority" name="Priority">
                        </div>

                        <div class="form-group">
                            <label>Enter Duration </label>
                            <input type="text" class="form-control" id="Duration" [(ngModel)]="taskUpdate.Duration" name="Duration">
                        </div>
                    </form>
                    </div> 
                    <div class="modal-footer"> 
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                        <button type="update" class="btn btn-primary" data-dismiss="modal"(click)="update(task)">Update Task</button> 
                    </div> 
                 
            </div> 
        </div> 
    </div>
    
    
